#model related files
*.pkl
*.keras
*.h5

#venv related files
venv/
.venv/
server_venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm IDE
.idea/

# VS Code IDE
.vscode/

# Pyre type checker
.pyre/

# Flask files
instance/
.webassets-cache

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyright
pyrightconfig.json

# SQLite database files
*.sqlite3
*.db
database.db

# Logs and debug files
*.log

# Mac OS
.DS_Store

# Temporary files
*.temp
*.tmp

# Compiled files
*.o
*.obj
*.dll
*.exe

# Images and uploads (if you don't want to track uploaded images)
uploads/
static/images/

# Secret configuration files

config.yaml
config.yml